<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.hexor.dao.IVideoMapper">
   <sql id="columnVideo">
		  title,
		  preImgSrc,
		  vedioUrl,
		  infotime,
		  updatetime,
		  videoId,
		  flag,
		  rate,
		  views,
		  favourite,
		  type
	 </sql>
 
    <resultMap type="com.hexor.repo.VideoBean" id="vedioResultMap">  
        <result property="title" column="title"/>
        <result property="preImgSrc" column="preImgSrc"/>  
        <result property="vedioUrl" column="vedioUrl"/>  
        <result property="infotime" column="infotime"/>  
        <result property="updatetime" column="updatetime"/>  
        <result property="videoId" column="videoId"/>
        <result property="flag" column="flag"/>
        <result property="rate" column="rate"/>
        <result property="views" column="views"/>
        <result property="favourite" column="favourite"/>
        <result property="type" column="type"/>
    </resultMap>
    
    
    
    <!-- 查找总条数 .针对本地化的视频-->
     <select id="getVideosCount"   resultType="long">
            select count(*) from vedio
    </select>
    
    <!-- 针对mysql的分页 limit函数 -->
    <select id="limit" parameterType="com.hexor.repo.Pager" resultMap="vedioResultMap">
			select * from vedio order by updatetime desc limit #{index},#{data}
    </select>

    <!--根据视频id查找视频信息-->
    <select id="selectByVideoId" parameterType="String" resultType="com.hexor.repo.VideoBean">
          select * from vedio where videoId=#{value} limit 1
    </select>
    <!--根据发布时间查找最新的5条视频信息-->
     <select id="selectRecently" resultMap="vedioResultMap">
      select * from vedio  group by videoid order by updatetime desc limit 5
     </select>
    <!--根据赞数查找获得赞最高的5条视频信息-->
    <select id="selectRate" resultMap="vedioResultMap">
   select * from vedio  group by videoid order by rate desc limit 5
     </select>
    <!--根据收藏数查找获得赞最高的5条视频信息-->
    <select id="selectFav" resultMap="vedioResultMap">
      select * from vedio  group by videoid order by favourite desc limit 5
     </select>
    <!--根据观看数查找获得赞最高的5条视频信息-->
    <select id="selectViews" resultMap="vedioResultMap">
        select * from vedio  group by videoid order by views desc limit 5
     </select>
    <!--随机5条视频信息-->
    <select id="selectRand" resultMap="vedioResultMap">
        select *, rand() as random from vedio order by random limit 5
     </select>

    <!--rate fav views 动态加1 如果set中一个条件都不满足，即set中包含的内容为空的时候就会报错。-->
    <update id="videoAddSelf" parameterType="Map">
        update vedio
        <set>
            <if test="rate!=null">
                rate=if(isnull(rate),0,rate)+1,
            </if>
            <if test="favourite!=null">
                favourite=if(isnull(favourite),0,favourite)+1,
            </if>
            <if test="views!=null">
                views=if(isnull(views),0,views)+1
            </if>
        </set>
        where videoId=#{videoId}
    </update>

 </mapper>